@font-face {
    font-family: 'Gibson';
    src: url('Gibson.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('Gibson_Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('Gibson-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}